body{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    height: auto;
    width: 100%;
    background-color: #7CC44C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding-bottom: 3vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.doistercos-header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logopeeds{
    height: 60%;
}

.div-input-header{
    display: flex;
    width: auto;
    position: relative;
    margin-right: 10vh;
}

header input{
    border-radius: 100px;
    background-color: #C0E0BD;
    padding: 14px;
    border: none;
    outline: none;
    width: 60vh;
}

.div-input-header img{
    height: 24px;
    position: absolute;
    right: 0;
    margin-top: 3px;
    margin-right: 3px;
    border-left: 2px solid #ffffff;
    padding: 6px;
}

nav{
    display: flex;
}

.umterco{
    display: flex;
}

.umterco a{
    color: #ffffff;
    text-decoration: none;
}

ul hr{
    height: 30px;
    width: 1px;
}

header ul{
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.sementesA:hover .tipagemSementes{
    display: block;
    transition: 0.5s ease;
}

.tipagemSementes{
    position: absolute;
    background-color: #ffffff;
    height: auto;
    width: auto;
    border-radius: 50px;
    padding: 40px 40px 20px 15px;
    border: 5px solid #43692a;
    left: 404px;
    top: 191px;
    display: none;
    transition: opacity 0.25s ease;
}

.tipagemSementes ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tipagemSementes li{
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    border-bottom: 3px solid transparent;
}

.tipagemSementes li:hover{
    border-bottom: 3px dotted #7cc44c;
    transition: 0.3s ease;
}

.tipagemSementes a{
    margin: 0;
    color: #7cc44c;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
}

header li{
    margin-right: 10vh;
}

.div-icons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.div-heart{
    display: flex;
}

.div-heart .heart-icon{
    height: 32px;
}

.div-heart .one-heart--icon{
    height: 23px;
    position: absolute;
    margin-left: 19px;
    margin-top: -9px;
}

.kart{
    height: 32px;
}

/* main */

#area-princ{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cadastro{
    height: 80vh;
    width: 140vh;
    display: flex;
    flex-direction: row;
}

.dados{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

.imagem-div{
    width: 55%;
    height: auto;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #d9d9d9;
}

.imagem-div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    
}

.dados h4{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin: 30px 0 40px 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs input{
    width: 350px;
    height: 50px;
    border-radius: 100px;
    outline: none;
    border: 3px solid #43692a;
    font-size: 20px;
    position: relative;
    padding-left: 15px;
    text-align: left;
}

.inputs::placeholder{
    color: black;
    font-size: 20px;
    position: absolute;
    color: #7b7d7b;
}

.inputs textarea{
    resize: none;
    width: 350px;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: 3px solid #43692a;border-radius: 100px;
    padding-left: 15px;
}

.inputs textarea::placeholder{
    color: black;
    font-size: 20px;
    color: #7b7d7b;
    text-align: left;
    position: absolute;
    margin-top: 12px;
}

.inputs h5{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 20px 0 20px 0;
}

.dados a{
    width: 290px;
    height: 65px;
    background-color: #7cc44c;
    border-radius: 100px;
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 2.5px;
    border: 3px solid transparent;
    transition: 0.3s;
}

.dados a:hover{
    border: 3px solid #7cc44c;
    background: transparent;
    color: #7cc44c;
    transition: 0.3s;
}

/* footer */

footer{
    background-color: #b4b4b4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.adress-p{
    line-height: 6vh;
    text-align: center;
    font-size: 20px;
}

.empresarial{
    height: 35vh;
}

footer h4{
    color: rgb(80, 79, 79);
    font-size: 20px;
    font-family: "montserrat", sans-serif;
    margin: 0;
    margin: 20px 0 20px 0
}

footer span{
    color: rgb(80, 79, 79);
    font-family: "montserrat", sans-serif;
    font-size: 18px;
}

.gaveta{
    font-family: "montserrat", sans-serif;
    font-size: 15px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
    line-height: 2.2;
    margin: 0;
}

.gaveta:hover{
    border-bottom-color: black;
}